<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ALL_DOG_BREEDS_GET_REQUEST</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GoldenRetriverSubBreeds</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getDogBreeds</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyRetriever</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getRandomGoldenRetriverImage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
