<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9168bc">  <td>20/08/10 15:14:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ALL_DOG_BREEDS_GET_REQUEST.GoldenRetriverSubBreeds()[pri:0, instance:ALL_DOG_BREEDS_GET_REQUEST@704a52ec]">GoldenRetriverSubBreeds</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>20/08/10 15:14:29</td>   <td>2211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ALL_DOG_BREEDS_GET_REQUEST.VerifyRetriever()[pri:0, instance:ALL_DOG_BREEDS_GET_REQUEST@704a52ec]">VerifyRetriever</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>20/08/10 15:14:29</td>   <td>2688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ALL_DOG_BREEDS_GET_REQUEST.getDogBreeds()[pri:0, instance:ALL_DOG_BREEDS_GET_REQUEST@704a52ec]">getDogBreeds</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>20/08/10 15:14:30</td>   <td>3112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ALL_DOG_BREEDS_GET_REQUEST.getRandomGoldenRetriverImage()[pri:0, instance:ALL_DOG_BREEDS_GET_REQUEST@704a52ec]">getRandomGoldenRetriverImage</td> 
  <td>main@1970881185</td>   <td></td> </tr>
</table>
